<div class="tracy-ContainerPanel">
    <h1>Composer panel</h1>

<h2>Installed packages ({$installedPackages|length})</h2>
<div class="tracy-inner">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Version</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {foreach $installedPackages as $package}
        <tr>
            <td><b>{$package['name']}</b></td>
            <td>{$package['name']}</td>
            <td>{$package['version']}</td>
            <td>{$package['description']}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
</div>
